<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit songs</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/">Home page</a>
    <a href="/auth/signout">Sign out</a>
  </nav>

  <h1>Edit song</h1>

  <form action="/users/<%= userId %>/songs/<%= song._id %>?_method=PUT" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%= song.name %>">


    <label for="artist">Artist</label>
    <input type="text" name="artist" id="artist" value="<%= song.artist %>">


    <label for="album">Album</label>
    <input type="text" name="album" id="album" value="<%= song.album %>">


    <label for="durration">Durration</label>
    <input type="text" name="durration" id="durration" value="<%= song.durration %>">


    <label for="favorite">Favorite</label>
    <input type="checkbox" name="favorite" id="favorite" value="<%= song.favorite %>">

    <button type="submit">Edit song</button>
  </form>
</body> 
</html>