<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Song Details</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/">Home page</a>
    <a href="/auth/signout">Sign out</a>
  </nav>

  <h1>Song Details</h1>

  <p>Name: <%= song.name %></p>
  <p>Artist: <%= song.artist %></p>
  <p>Album: <%= song.album %></p>
  <p>Durration: <%= song.durration %></p>
  <p>Favorite: <%= song.favorite %></p>

  <a href="/users/<%= userId %>/songs/<%= song._id %>/edit">Edit Song</a>

  <form action="/users/<%= userId %>/songs/<%= song._id %>?_method=DELETE" method="post">
    <button type="submit">Delete Song</button>
  </form>
  <a href="/users/<%= userId %>">Back to playlist</a>
</body>
</html>